@font-face {
  font-family: "Yekan Bakh";
  src: url("fonts/YekanBakh-Regular.woff");
}
@font-face {
  font-family: "Yekan Bakh FaNum";
  src: url("fonts/YekanBakhFaNum-Regular.woff");
}
@font-face {
  font-family: "Yekan Bakh NoEn";
  src: url("fonts/YekanBakh-Thin.woff");
}

/* * {
  box-sizing: border-box;
} */
/* html,
body,
H1,
h2,
h3,
h4,
h5,
h6,
span,
label,
button,
input,
p,
small,
strong,
table,
th,
td,
div,
textarea,
select,
option,
div,
section,
aside,
footer {
  font-family: "Yekan Bakh Black WOFF";
  outline: none;
  font-size: 13px;
  text-align: right;
} */
@page {
  /* 
  padding-left: 0 !important;
  margin-right: 0 !important; */
  /* order: 1px solid #123; */
  size: A4;
  margin: 0 !important;
}

html,
body {
  /* margin: 0;
  direction: rtl; */
}
html {
  /* border :#b037b9 solid; */
}
body {
  /* width: 210mm;
  margin: 0 auto; */
  /* border: rgb(173, 206, 239) solid; */
}

table, th, td {
  /* border: 1px solid black; */
  border-collapse: collapse;
}
.page {
  -webkit-print-color-adjust: exact;
  width: 210mm;
  min-height: 296mm;
  page-break-after: always;
  break-after: page;
  print-color-adjust: exact;
  position: relative;
  /* border: #e76e6e solid ; */
}

/* header style */
.header-box {
 
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-right: 32px;
  width: 50%;
  height: 65px;
}
.header-box > .logo {
  width: 65px;
  height: 100%;
  /* flex-shrink: 0; */
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background: #fff;
  /* padding-top: 2px; */
}
.header-box .logo img {
  width: 50px;
  height: 50px;
  /* flex-shrink: 0; */
  opacity: 0.5;
  /* margin-top: 1px; */
  /* border: #000 solid; */
  margin: auto;
  margin-top: 5px;
}
.header-box > .infomation {
  width: 400px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-right: 10px;
}

.header-box .infomation .title-test {
  color: #222;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 133.333% */
}

.header-box .infomation .organization-test {
  color: #222;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 133.333% */
}

/* end of header style */

/* footer style */
.footer-green {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 150px;
  /* margin-top: 50px; */
}
.esanj_arm {
  width: 45.373px;
  height: 32px;
  position: absolute;
  bottom: 69px;
  right: 80px;
}
.strongmmp {
  position: absolute;
  bottom: 57px;
  left: 180px;
  color: #2ebb9d;
  font-family: Yekan Bakh NoEn;
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  line-height: 31px; /* 103.333% */
  opacity: 0.5;
}
.sii {
  position: absolute;
  bottom: 81px;
  left: 80px;
  width: 99px;
  height: 30px;
  flex-shrink: 0;
  color: #989898;
  font-family: Yekan Bakh NoEn;
  font-size: 100px;
  font-style: normal;
  font-weight: 100;
  line-height: 31px; /* 31% */
}
.footer {
  position: absolute;
  bottom: 0px;
  background: #2ebb9d !important;
  width: 210mm;
  height: 51px;
  /* print-color-adjust: exact;  */
}

/* end of footer style */

/* footer type 2  */
.footer-type2 {
  width: 100%;
  height: 70px;
  flex-shrink: 0;
  background: #f5f5f5;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.footer-type2-container {
  /* border: rgb(17, 118, 220) solid; */
  display: flex;
  width: 90%;
  height: 70%;
  margin-top: 10px;
  margin-right: 30px;
  justify-content: space-between;
  align-items: center;
}
.footer-type2-container svg {
  width: 40px;
  height: 30px;
  flex-shrink: 0;
  /* opacity: 0.30000001192092896; */
}

.footer-type2-container-rightSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: #123 solid; */
  width: 38%;
}
.footer-type2-container-rightSide-text {
  /* border: #123 solid; */
  margin-left: -18px;
}
.footer-type2-container-rightSide-text p {
  color: #757575;
  font-family: Yekan Bakh;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 187.5% */
  letter-spacing: 2.8px;
  text-align: left;
}
.footer-type2-container-rightSide-line {
  width: 2px;
  height: 30px;
  rotate: 90;
  background-color: #80d7be;
  /* margin-left: -10px; */
}

.footer-type2-container-rightSide-number {
  color: #757575;
  text-align: center;
  font-family: Yekan Bakh FaNum;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 227.273% */
  letter-spacing: 2.2px;
  margin-right: -15px;
  /* border: #123 solid; */
}
/* end of footer type 2  */
.img-container {
  position: absolute;
  top: 124px;
  right: 67px;

  width: 106px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}

.img-container img {
  /* position: absolute;
    top: 135px;
    right: 60px;
    left:477px;
    bottom: 649px; */
  margin: 10px;
  width: 77px;
  height: 58px;
  flex-shrink: 0;
}
.right-sidep1 {
  position: absolute;
  top: 124px;
  right: 186px;

  bottom: 638px;
  width: 540px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}

.right-sidep1 h1 {
  margin-top: 17px;
  margin-right: 17px;
  color: #000;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 83.333% */
}
.right-sidep1 h3 {
  margin-right: 17px;
  margin-top: 16px;
  color: #000;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 125% */
}

.bottom {
  position: absolute;
  top: 215px;
  right: 67px;
  width: 658px;
  height: 860px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #e0e0e0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.avatar {
  display: flex;
}
.img-markzakerberg {
  margin-top: 29px;
  margin-right: 33px;
  width: 50px;
  height: 50px;
  /* flex-shrink: 0; */
  border-radius: 50px;
  border: 1px solid #e0e0e0;
  /* background: url("./assets/mark-zakerberg.png"); */
}
.name-of-tested-person {
  /* padding: 10px; */
  width: 130px;
  height: 25px;
  margin-right: 10px;
  margin-top: 65px;
  border-radius: 10px;
  background: #f5f5f5;
  /* padding-bottom: 4px; */
}
.name-of-tested-person h1 {
  color: #000;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  margin-top: 0px;
  margin-right: 12px;
}

.information {
  min-width: auto;
  display: flex;
  width: 450px;
  height: 230px;
  margin-right: 33px;
  margin-top: 13px;

  /* border: 1px solid #e0e0e0; */
  /* overflow: hidden; */
}
.information > .titles,
.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.information > .infos {
  margin-right: 10px;
}
.information > .titles > div {
  color: #000;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.information > .infos > div {
  color: #272727;
  text-align: right;
  font-family: Yekan Bakh FaNum;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 200% */
}
.Assessment {
  position: absolute;
  top: 100px;
  left: 130px;
  height: 200px;
  width: 250px;
  /* border: #df6464 solid; */
}

.Assessment > h1 {
  color: #2ebb9d;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 192.308% */
}
.Assessment :nth-child(2) {
  margin-top: 20px;
}
.Assessment :nth-child(3) {
  margin-top: 32px;
}
.vertical_line {
  position: absolute;
  top: 75px;
  left: 400px;
  width: 2px;
  height: 130px;
  background: #e0e0e0;
}
.Final_Expert_opinion {
  width: 600px;
  height: 64px;
  margin-right: 33px;
  margin-top: 20px;
  /* border:   #000 solid; */
}
.line_1 {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: #df6464 solid; */
  margin-bottom: -12px;
}
.line_1 > h3 {
  width: 160px;
  color: #2ebb9d;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 192.308% */
}
.line1-empty-green {
  width: 460px;
  border-top: 3px dotted #e0e0e0;
}
.dashed-line {
  width: 100%;
  border-top: 3px dotted #e0e0e0;
  margin-top: 40px;
}

.title-green {
  /* margin-top: 150px; */
  /* margin-bottom: 10px; */
  margin-right: 81px;
  color: #2ebb9d;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  /* border: #000 solid; */
}
.list-itmes-type1 {
  display: flex;
  /* border: #123 solid; */
  align-items: center;
  width: 500px;
  height: 30px;
  margin-right: 81px;
  margin-top: 14px;
}
.index-number-type1 {
  color: #2ebb9d;
  text-align: center;
  font-family: Yekan Bakh FaNum;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 88.235% */
}
.index-text-type1 {
  display: flex;
  align-items: center;
  width: 500px;
  height: 25px;
  margin-right: 17px;
  border-radius: 5px 0px 0px 5px;
  background: #f5f5f5;
}
.green-text-index-type1 {
  margin-left: 3px;
  color: #2ebb9d;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 88.235% */
}
.black-text-index-type1 {
  color: #000;
  font-family: Yekan Bakh;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
}
.list-itmes-type2 {
  display: flex;
  margin-top: 8px;
  /* border: #123 solid; */
  align-items: center;
  width: 400px;
  height: 20px;
  margin-right: 81px;
}
.index-number-type2 {
  color: #272727;
  text-align: center;
  font-family: Yekan Bakh FaNum;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 200% */
}
.index-text-type2 {
  margin-right: 17px;
  color: #000;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 200% */
}
.p4-top {
  position: relative;
  width: 210mm;
  height: 421px;
  flex-shrink: 0;
  background: #f5f5f5;
}
.p4-top > p {
  color: #2ebb9d;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 33.333% */
  margin-right: 61px;
  width: 250px;
  height: 50px;
  position: absolute;
  top: 320px;
  /* border: #123 solid; */
  /* margin-top: 372px; */
  /* margin-bottom: 20px; */
}
.p4-bottom {
  margin-right: 61px;
  margin-top: 11px;
  color: #989898;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 140% */
}
.page-first-line {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background: #f5f5f5;
  margin-right: 31px;
  margin-top: 20px;
  padding-top: 6px;
}
.page-first-line p {
  color: #000;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 16px;
  /* border: #000 solid; */
}
.p5-containerr {
  display: flex;
  padding: 2px;
  width: 90%;
  height: 40%;
  /* border: #000 solid; */
  margin-top: 20px;
  margin-right: 30px;
}
.p5-containerr div {
  font-family: Yekan Bakh;
}
.p5-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 260px;
}
.p5-container-right div {
  color: #000;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 173.333% */
}
.p5-container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 350px;
  /* border: #222 solid 1px; */
  margin-right: 16px;
}
.p5-container-left div {
  color: #555;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 200% */
}

.p6 * {
  font-family: Yekan Bakh;
}
.p7-paragraphs p {
  color: #555;
  text-align: justify;
  font-family: Yekan Bakh FaNum;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.font-yekanBakh {
  font-family: Yekan Bakh FaNum;
}
/* custom css */
/* .flex{
  display: flex;
  
}
.jcc{
  justify-content: center;
  
}
.jcb {
  justify-content: space-between;
}
.aic{
  align-items: center;
}
.text-center {
  text-align: center;
}
.view-in-print {
  display: none;
}
.bg-green{
  background: #2EBB9D;
} */
/* end of custom css */
